<p> <%= @dateactivity.category %>: </p>

<p>
    <strong>Name:</strong>
    <%= @dateactivity.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @dateactivity.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @dateactivity.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @dateactivity.location %>
</p>