<p> <%= @activity.category %>: </p>

<p>
    <strong>Name:</strong>
    <%= @activity.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @activity.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @activity.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @activity.location %>
</p>