<%= form_for :activity do |f| %>
 
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@activity.errors.count, "error") %> prohibited
        this activity from being saved:
      </h2>
      <ul>
        <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.radio_button :type, 'activity'%><br>
    <%= f.label :type, 'Activity', :value => 'activity' %><br>
    <%= f.radio_button :type, 'food'%><br>
    <%= f.label :type, 'Food', :value => 'food' %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>
  
  <p>
    <%= f.radio_button :location, 'uptown'%><br>
    <%= f.label :location, 'Uptown', :value => 'uptown' %><br>
    <%= f.radio_button :location, 'north'%><br>
    <%= f.label :location, 'North', :value => 'north' %><br>
    <%= f.radio_button :location, 'south'%><br>
    <%= f.label :location, 'South', :value => 'south' %><br>
    <%= f.radio_button :location, 'east'%><br>
    <%= f.label :location, 'East', :value => 'east' %><br>
    <%= f.radio_button :location, 'west'%><br>
    <%= f.label :location, 'West', :value => 'west' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
