<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Info</th>
    <th>Location</th>
    <th>Link</th>
  </tr>
 
  <% @activity.each do |activity| %>
    <tr>
      <td> <%= activity.name %> </td> 
      <td> <%= activity.category %> </td> 
      <td> <%= activity.description %> </td> 
      <td> <%= activity.location %> </td>
      <td> <%= activity.link %> </td>
    </tr>
  <% end %>
</table>

<br>
<%= render 'date_night/nav' %>