<h1>User Submission Accepted</h1>


<p >
    <strong>Name:</strong>
    <%= @activity.name %>
</p>

<p>
    <strong>Category:</strong>
    <%= @activity.category %>
</p>

<p>
    <strong>Description:</strong>
    <%= @activity.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @activity.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @activity.location %>
</p>
</div>

<%= render 'date_night/nav' %>