
<h2>Here is your suggested Date: </h2>

<br>
<!---<p>
aID: <%= @generator.acitivityID %>
fID: <%= @generator.foodID %>
</p> -->
<br>

<p style = "color:#18CAE6; font-size:32px;"> <u>Activity:</u>
<%= render @generator.dateactivities %>
</p>
<br>
<p style = "color:#18CAE6; font-size:32px;"> <strong><u>Food:</u></strong>
<%= render @generator.datefoods %>
</p>

<br>
<br>
<br>

<%= render 'date_night/nav' %>