<h1>Generated Date</h1>

<br>
<br>

<h2>Here is the suggested Date: </h2>

<br>
<p>
aID: <%= @generator.acitivityID %>
fID: <%= @generator.foodID %>
</p>
<br>

<p> Activity: </p>
<%= render @generator.dateactivities %>
<p> Food: </p>
<%= render @generator.datefoods %>

<br>
<br>
<br>

<%= render 'date_night/nav' %>