<h1>Generated Date</h1>

<br>
<br>

<h2>Here is the suggested Date: </h2>

<br>
<br>

<h3>Activity: </h3>

<p>
    <strong>Name:</strong>
    <%= @activity.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @activity.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @activity.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @activity.location %>
</p>

<br>
<br>

<h3>Food: </h3>

<p>
    <strong>Name:</strong>
    <%= @activity.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @activity.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @activity.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @activity.location %>
</p>


<br>
<br>
<br>

<%= render 'date_night/nav' %>