
<h3>Here is your suggested Date: </h3>

<br>
<!--- For testing purposes
<p>
aID: <%= @generator.acitivityID %>
fID: <%= @generator.foodID %>
</p>
-->
<br>

<p style = "color:#18CAE6; font-size:32px;"> <strong><u>Activity:</u></strong>
<%= render @generator.dateactivities %>
</p>
<br>
<p style = "color:#18CAE6; font-size:32px;"> <strong><u>Food:</u></strong>
<%= render @generator.datefoods %>
</p>

<br>
<br>
<br>

<%= render 'date_night/nav' %>