<%= form_for :usersubmission, url:user_submission_index_path do |f| %>
 
  <% if @usersubmission.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@usersubmission.errors.count, "error") %> prohibited
        this activity from being saved:
      </h2>
      <ul>
        <% @usersubmission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.radio_button :category, 'activity'%>
    <%= f.label :cateogry, 'Activity', :value => 'activity' %>
    <%= f.radio_button :category, 'food'%>
    <%= f.label :cateogry, 'Food', :value => 'food' %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>
  
  <p>
    <%= f.radio_button :location, 'uptown'%>
    <%= f.label :location, 'Uptown', :value => 'uptown' %>
    <%= f.radio_button :location, 'north'%>
    <%= f.label :location, 'North', :value => 'north' %>
    <%= f.radio_button :location, 'south'%>
    <%= f.label :location, 'South', :value => 'south' %>
    <%= f.radio_button :location, 'east'%>
    <%= f.label :location, 'East', :value => 'east' %>
    <%= f.radio_button :location, 'west'%>
    <%= f.label :location, 'West', :value => 'west' %>
  </p>
 
  <p>
    <%= f.submit "Propose My Date" %>
  </p>
 
<% end %>
