<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Info</th>
    <th>Location</th>
    <th>Link</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
 
  <% @usersubmission.each do |user_submission| %>
    <tr>
      <td> <%= user_submission.name %> </td> 
      <td> <%= user_submission.category %> </td> 
      <td> <%= user_submission.description %> </td> 
      <td> <%= user_submission.location %> </td>
      <td> <%= user_submission.link %> </td>
      <td> <%= link_to 'Edit', edit_user_submission_path(user_submission) %></td>
      <td> <%= link_to 'Destroy',
                                user_submission_path(user_submission),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
      
      
    </tr>
  <% end %>
</table>

<br>
<br>

<%= render 'date_night/nav' %>
    