<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Info</th>
    <th>Location</th>
    <th>Link</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Accept</th>
  </tr>
 
  <% @usersubmission.each do |u| %>
    <tr>
      <td> <%= u.name %> </td> 
      <td> <%= u.category %> </td> 
      <td> <%= u.description %> </td> 
      <td> <%= u.location %> </td>
      <td> <%= u.link %> </td>
      <td> <%= link_to 'Edit', edit_user_submission_path(u) %></td>
      <td> <%= link_to 'Delete',
                                user_submission_path(u),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
      <td> <%= link_to 'Accept Submission', edit_activity_path(u) %></td>
      
      
    </tr>
  <% end %>
</table>

<br>
<br>

<%= render 'date_night/nav' %>
    