<h1>New Activity Submission</h1>

<p>
    <strong>Name:</strong>
    <%= @user_submission.name %>
</p>

<p>
    <strong>Category:</strong>
    <%= @user_submission.category %>
</p>

<p>
    <strong>Description:</strong>
    <%= @user_submission.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @user_submission.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @user_submission.location %>
</p>