<h1>New Activity Submission</h1>

<p>
    <strong>Name:</strong>
    <%= @usersubmission.name %>
</p>

<p>
    <strong>Category:</strong>
    <%= @usersubmission.category %>
</p>

<p>
    <strong>Description:</strong>
    <%= @usersubmission.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= @usersubmission.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= @usersubmission.location %>
</p>


<%= render 'date_night/nav' %>